* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  margin: 0;
  font-family: sans-serif;  
 
}

header{
    width: 100%;
    background: blue; 
    
}
/*.Fondo{
    position: relative;
    background-image: url(img/fondo.png);
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-top: 100px;
}*/

#btn-menu{
    display: none;
}
header label{
    display: none ;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-right: 1px solid #fff;
     
}

header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.3);

}

.menu ul{
margin: 0;
list-style: none;
padding: 0;
display: flex;

}
.menu li{
border-right: 1px solid #fff;
}
.menu li:hover{
    background: rgba(0,0,0,0.3);
}
.menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}
@media screen and (max-width:5000px)
{

    
    header label {
        display: block; 
    }
    .menu{
        position: absolute;
        background: blue;
        width: 20%;
        margin-left: -70%;
        transition: all 2s;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid #fff;
    }

     #btn-menu:checked ~ .menu{
        margin: 0;
     }
    

    footer{
        max-width: 100%;
        min-height: 60px;
        background: black;
        margin: 0 auto;
        padding: 0% 2%;
    }
    span{
        font-size: 30px;
        color: blue;
        
        
    }
    label{
        font-size: 30px;
        color: #fff;
    
    }    

    .imagen img{
        width: 100%;
    }
}